@model MvcRentACar2.Models.Cars

@{
    ViewData["Title"] = "Създаване";
}

<h1>Създаване</h1>

<h4>Коли</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marka" class="control-label">Марка</label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">Град</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentCar1" class="control-label">Дата и час на взимане</label>
                <input asp-for="RentCar1" class="form-control" />
                <span asp-validation-for="RentCar1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentCar2" class="control-label">Дата и час на връщане</label>
                <input asp-for="RentCar2" class="form-control" />
                <span asp-validation-for="RentCar2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Km" class="control-label">Ограничени километри</label>
                <input asp-for="Km" class="form-control" />
                <span asp-validation-for="Km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена на услугата</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно към списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
