@model MvcRentACar2.Models.CarRentalTime

@{
    ViewData["Title"] = "Изтриване";
}

<h1>Изтриване</h1>

<h3>Наистина ли искате да изтриете това?</h3>
<div>
    <h4>Дата и час на взимане и връщане</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Име и фамилия
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            Дата и час
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" />
        <a asp-action="Index">Обрлатно към списъка</a>
    </form>
</div>
