@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Система "Кола под наем"</h1>
    <p>
        Автоматизирана система за отдаване на коли под наем
    </p>
    <!--
         <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    --> 
</div>
