@{
    ViewData["Title"] = "Политика за поверителност";
}
<h1 class="center">@ViewData["Title"]</h1>

<p class="center">Използвайте тази страница, за да посочите подробно политиката за поверителност на вашия сайт.</p>
